{% extends 'main.html' %}

{% block content %}

<link rel="stylesheet" href="../../static/styles/cart.css">

<div class="cart_box">

    <div class="products_box">

        <h2>Cart</h2>

        <div class="product">

            <div class="image_box">

                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />

            </div>

            <div class="details">

                <h5>Brand</h5>
                <h4>Product Name</h4>
                <br>
                <h3 class="price">100 <span>EGP</span></h3>
                <br>
                <input type="number" value=1>

                <a>Delete</a>

            </div>
            
        </div>

        <div class="product">

            <div class="image_box">

                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />

            </div>

            <div class="details">

                <h5>Brand</h5>
                <h4>Product Name</h4>
                <br>
                <h3 class="price">100 <span>EGP</span></h3>
                <br>
                <input type="number" value=1>

                <a>Delete</a>

            </div>
            
        </div>

        <a class="shop">Continue Shopping</a>

    </div>

    <div class="summary_box">

        <div class="summary">
            <h2>Summary</h2>

            <div class="shipping">Shipping Fee <h5>100 <span>EGP</span> </h5> </div>

            <div class="price">Total <h5>100 <span>EGP</span> </h5> </div>

        </div>

        <a href="">Checkout</a>

    </div>

</div>

<div class="saved_box">

    <h2>Saved Items</h2>

    <div class="saved_prod_box">

        

        <div class="saved_product">

            <div class="image">
                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />
            </div>

            <div class="details">
                <h4>Product Name</h4>
                <a>Delete</a>
            </div>

        </div>

        <div class="saved_product">

            <div class="image">
                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />
            </div>

            <div class="details">
                <h4>Product Name</h4>
                <a>Delete</a>
            </div>

        </div>

        <div class="saved_product">

            <div class="image">
                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />
            </div>

            <div class="details">
                <h4>Product Name</h4>
                <a>Delete</a>
            </div>

        </div>

        <div class="saved_product">

            <div class="image">
                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />
            </div>

            <div class="details">
                <h4>Product Name</h4>
                <a>Delete</a>
            </div>

        </div>

        

    </div>

</div>

{% endblock %}