{% extends 'main.html' %}

{% block content %}

<link rel="stylesheet" href="../../static/styles/cart.css">

<div class="cart_box">

    <div class="products_box">

        <h2>سلة المشتريات</h2>

        {% for cart_item in cart_items %}

            {% include 'cart/cart_item.html' %}

        {% endfor %}

        <a class="shop"> <i class="fa-solid fa-circle-arrow-right"></i> أكمل تسوق</a>

    </div>

    <div class="summary_box">

        <div class="summary">
            <h2>ملخص</h2>

            <div class="shipping">تمن التوصيل <h5>100 <span>EGP</span> </h5> </div>

            <div class="price">المجموع الكلي <h5>{{total}} <span>EGP</span> </h5> </div>

        </div>

        <a href="">اتمام الشراء</a>

    </div>

</div>

<div class="saved_box">

    <h2>Saved Items</h2>

    <div class="saved_prod_box">

        <div class="saved_product">

            <div class="image">
                <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="" />
            </div>

            <div class="details">
                <h4>Product Name</h4>
                <a>Delete</a>
            </div>

        </div>

    </div>

</div>

<script src="../../static/JsScripts/quantity_set.js"></script>

{% endblock %}