
<link rel="stylesheet" href="../../static/styles/swiper2.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

<div class="products_container">

    <div class="category_img">
        <img id="img_banner" src="https://images.unsplash.com/photo-1511426463457-0571e247d816?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c29jY2VyJTIwc2hvZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" crossorigin>
    </div>

    <div class="products_swiper">

        

        <h1>Category</h1>

        <div class="swiper swiper2">

            <div class="swiper-wrapper">

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

                <div class="swiper-slide">

                    <div class="product">

                        <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                        <h3>Name</h3>

                    </div>
                </div>

            </div>


            <div class="swiper-button-prev swiper-button-prev2"> <i class="fa-solid fa-circle-chevron-right"></i> </div>
            <div class="swiper-button-next swiper-button-next2"> <i class="fa-solid fa-circle-chevron-left"></i> </div>

        </div>

        <div class="options">

            <a href=""> <i class="fa-solid fa-circle-arrow-right"></i> تسوق الأن</a>

        </div>


    </div>

</div>

<script src="../../static/JsScripts/averageColor.js"></script>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script src="../../static/JsScripts/swiper2.js"></script>
