<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- normalize -->
    <link rel="stylesheet" href="../../static/styles/normalize.css" />
    <!-- fontasome -->
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="../../static/styles/catogry.css" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- start headr -->
    <div class="header">
      <div class="container">
        <ul class="main-nav">
          <li><a href="#الالكترونيات">الالكترونيات</a></li>
          <li><a href="#موبايلات">موبايلات</a></li>
          <li><a href="#رجالي">ملابس رجالية</a></li>
          <li><a href="#نسائية">ملابس نسائية</a></li>
          <li><a href="#المنزل">المنزل</a></li>
          <li><a href="#ميكاب">ميكاب و عطور</a></li>
          <li><a href="#اطفال-العاب">الاطفال-الالعاب</a></li>
          <li><a href="#ماركت">سوبر ماركت</a></li>
          <li><a href="#العروض" style="color: #cd412c">العروض</a></li>
        </ul>
      </div>
    </div>
    <!-- end headr -->
  </body>
</html>
