<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/list.css" />
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="list">
      <div class="one">
        <h2>Customer Review</h2>
        <input type="checkbox" />
      </div>
    </div>
  </body>
</html>
