<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/one-product.css" />
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <link rel="stylesheet" href="../../static/styles/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="pro">
      <div class="page-1">
        <div class="text-1">
          <img src="../../static/images/41al5-lNvML._AC_SL1000_.jpg" alt="" />
          <div class="info">
            <span>افضل منتج</span>
            <p class="title">iphone</p>
            <h2>
              iPhone 14 Pro 256GB Deep Purple 5G With FaceTime - Middle East
              Version
            </h2>
            <p>رقم المنتج : MQ1F3AA/A / MQ1E3AH/A</p>
            <span class="rate"
              >4.4<i class="fa-solid fa-star" style="color: #ffffff"></i>
            </span>
            <p class="price">Now: <b> EGP 54999.00</b> (Inclusive of VAT)</p>

            <form action="">
              <div class="btn">
                <div>
                  <label for="Quantity">Quantity</label>
                  <div><input type="number" value="1" readonly /></div>
                </div>
                <div class="add-cart">
                  <p style="color: red">Low stock: only 1 left</p>
                  <input type="submit" value="اضف الي السلة" />
                  <i class="fa-solid fa-heart"></i>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
