<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <link rel="stylesheet" href="../../static/styles/normalize.css" />
    <link rel="stylesheet" href="../../static/styles/page-order.css" />
    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="o-parent">
      <div class="o-container">
        <!-- start head -->
        <div class="header">
          <p>الرئيسية</p>
          <i class="fa-solid fa-chevron-left"></i>
          <p>الطلبات</p>
          <i class="fa-solid fa-chevron-left"></i>
          <p style="color: #ababab">ID:334902461</p>
        </div>
        <div class="header-info">
          <h2>رقم الطلب:334902461</h2>
          <button>
            تابع السائق<i class="fa-solid fa-location-crosshairs"></i>
          </button>
        </div>
        <div class="header-text">
          <p>تاريخ الطلب :feb 16, 2023</p>
          <p style="color: green; font-weight: bold">
            مطللوب منذ :May 14, 2023
          </p>
        </div>
        <!-- end head -->
        <!-- start body -->
        <div class="or-content">
          <div class="bag">
            <div class="image-box">
              <img src="../../static/images/product.jpg" alt="" />
            </div>

            <div class="product-info">
              <div class="product">
                <p>product</p>
                <p>اللون:ازرق غامق</p>
              </div>
              <div class="price">
                <p>$500.00</p>
                <p>الكمية :1</p>
              </div>
            </div>
          </div>
        </div>
        <div class="or-text">
          <div class="pay">
            <h4>Payment</h4>
            <p>
              Visa**<i class="fa-brands fa-cc-visa" style="color: #158cfd"></i>
            </p>
          </div>
          <div class="dilvery">
            <h4>Delivery</h4>
            <p>Address</p>
            <h5>446 شارع الملك فيصل، أبو قتادة، قسم العمرانية، الجيزة 12516</h5>
            <p>Delivery method</p>
            <p>Free(30 days)</p>
          </div>
          <div class="summry">
            <h4>Summary</h4>
            <div class="discont">
              <p>Discont</p>
              <p>$00</p>
            </div>
            <div class="dilv-p">
              <p>Delivery</p>
              <p>$20</p>
            </div>
            <div class="total" style="margin-top: 15px">
              <p>Total:</p>
              <p style="font-weight: 800">$20000.48</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
