<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/page-product.css" />
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Start Articles -->
    <div class="page">
      <div class="container">
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add Cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add Cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
        <div class="box">
          <img decoding="async" src="../../static/images/product.jpg" alt="" />
          <div class="content">
            <h3>Test Title</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit
            </p>
          </div>
          <div class="info">
            <a href="">Add Cart</a>
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
