<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<link rel="stylesheet" href="../../static/styles/products.css">

{% for catagory in categories %}


<div class="swiper swiper1 listing">

  <h1>{{catagory.name}}</h1>

    <div class="swiper-wrapper">

      {% for product in products %}
      {% if product.category == catagory %}

      <div class="swiper-slide">

        <div class="product-card" style="width:240px">
          <a class="img-wrapper" href="{% url 'product' product.slug %}">
            <img src="{{product.image.url}}" alt="" />
          </a>
          
          {% if product.in_stock %}
            <div class="note on-sale">متاح</div>
          {% else %}
            <div class="note no-stock">غير متاح</div>
          {% endif %}
          
          <div class="info">
            <div class="title">{{product.name}}</div>
            <div class="price">{{product.price}} EGP</div>
          </div>
          
        
        </div>

      </div>

      {% endif %}
      {% endfor %}
    
    </div>

    <div class="swiper-button-prev swiper-button-prev1"> <i class="fa-solid fa-circle-chevron-right"></i> </div>
    <div class="swiper-button-next swiper-button-next1"> <i class="fa-solid fa-circle-chevron-left"></i> </div>
    
</div>

{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script src="../../static/JsScripts/swiper.js"></script>