<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- normalize -->
    <link rel="stylesheet" href="../../static/styles/normalize.css" />
    <!-- fontasome -->
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="../../static/styles/product.css" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <img
        src="../../static/images/product.jpg"
        alt="Denim Jeans"
        style="width: 100%"
      />
      <h3>Tailored Jeans</h3>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
      <p><button>Add to Cart</button></p>
    </div>
  </body>
</html>
