<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../static/styles/normalize.css" />
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <link rel="stylesheet" href="../../static/styles/sales.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Start Articles -->
    <div class="parent">
      <div class="container">
        <div class="articles">
          <h2 class="main-title">العروض</h2>
        </div>
        <!-- End Articles -->
        <div class="parent">
          <div class="card">
            <img
              src="../../static/images/product.jpg"
              alt="Denim Jeans"
              style="width: 100%"
            />
            <h3>Tailored Jeans</h3>
            <p class="price">$19.99</p>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p>Some text about the jeans..</p>
            <div class="plus">
              <i class="fa-solid fa-cart-shopping"></i>
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
          <div class="card">
            <img
              src="../../static/images/product.jpg"
              alt="Denim Jeans"
              style="width: 100%"
            />
            <h3>Tailored Jeans</h3>
            <p class="price"><del style="color: #777">$23.99</del> $19.99</p>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <p>Some text about the jeans..</p>
            <div class="plus">
              <i class="fa-solid fa-cart-shopping"></i>
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
