<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/styles/product.css" />
    <link rel="stylesheet" href="../../static/styles/swiper1.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

    <div class="container">

        <div class="content">

            <div class="products">

                <h2>Products</h2>

                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="product-card">

                                <div class="product-tumb">

                                    <img src="../../static/images/33632332_phone_14_01.jpg" alt="" />
                                </div>

                                <div class="product-details">
                                    <span class="product-catagory">Women,bag</span>
                                    <h4><a href="">Women leather bag</a></h4>
                                    <div class="out-stock stock_status">

                                        <span></span>
                                        <h4>Out Stock</h4>

                                    </div>
                                    <div class="in-stock stock_status">

                                        <span></span>
                                        <h4>In Stock</h4>

                                    </div>
                                    <div class="product-bottom-details">
                                        <div class="product-price"><small>$96.00</small>$230.99</div>
                                        <div class="product-links">
                                            <a href=""><i class="fa fa-heart"></i></a>
                                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>

            </div>

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="../../static/js/swiper.js"></script>

</body>
</html>