<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/styles/swiper2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
</head>
<body>

    <div class="container">

        <div class="content">


            <div class="products_container">

                <div class="category_img">
                    <img src="../../static/images/austin-wade-d2s8NQ6WD24-unsplash.jpg" alt="">
                </div>

                <div class="products">

                    <h1>Category</h1>

                    <div class="swiper">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                            <div class="swiper-slide">

                                <div class="product">

                                    <img src="../../static/images/Red_T_Shirt_PNG_Clip_Art-3105.png" alt="">
                                    <h3>Name</h3>

                                </div>
                            </div>

                        </div>


                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                    </div>

                    <div class="options">

                        <a href="">Shop Now</a>

                    </div>


                </div>

            </div>


        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="../../static/js/swiper2.js"></script>

</body>
</html>