
@import url('https://fonts.googleapis.com/css?family=Muli');

/*reset*/
* {
  margin: 0;
  padding: 0;
}

/*product info */

.specials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.specials_section{
  background-color: white;
  padding: 30px;
}


.specials h1 {
    color: #f7f7f7;
    font-family: "muli";
    font-weight: bold;
    font-size: 22px;
    margin-top: 21px;
    display: inline-block;
}



.specials h3 {
  color: #ffffff;
  font-family: "muli";
  margin-top: 84px;
  font-size: 20px;
  font-weight: 500;
}

.specials h2 {
  color: #ffffff;
  font-family: "muli";
  margin-top: 10px;
  font-weight: 800;
  font-size: 29px;
}

.specials h4 {
  display: inline-block;
  color: #ffffff;
  font-family: "muli";
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.specials h4.dis {
  display: inline-block;
  color: #ffffff;
  font-family: "muli";
  font-weight: 400;
  font-size: 17px;
  margin-left: 30px;
  text-decoration: line-through #ea3201;
}

.specials h4.dis span {
  text-decoration: line-through #ea3201;
}

.discount {
  display: inline-block;
}

.specials ul {
  list-style-type: none;
}

.specials li {
  display: inline-block;
  margin-right: 25px;
}

.specials ul li {
  color: #ffffff;
  font-family: "muli";
  margin-top: 20px;
  font-weight: 500;
  font-size: 11px;
}

.bg {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 2px;
  margin-right: 20px;
  transition: 0.3s all ease;
  border-radius: 50%;
}

.bg:hover {
  background-color: #ff6d39;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}



/*main card*/

.card {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 600px;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.4);
  margin-top: 2%;
  margin: 20px
}

.special1{
    background-image: url(https://images.unsplash.com/photo-1636221337789-187c54342651?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGJsdWUlMjBhZXN0aGV0aWN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}

.special2{
    background-image: url(https://images.unsplash.com/photo-1614648718602-a7bba378a463?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fHJlZCUyMHRleHR1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}

.special3{
    background-image: url(https://images.unsplash.com/photo-1597521786562-13fa97f26262?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGdyZWVuJTIwdGV4dHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}

.left {
  content: "";
  height: 295px;
  width: 280px;
  display: flex;
  align-items: center;
  border-radius: 90% 10% 90% 10%;
  margin: 20px;
  z-index: 5;
  position: relative;
}


.left1{
    background-color: #21497c;
}

.left2{
    background-color: #912626;
}

.left3{
    background-color: #2a4038;
}

.left img {
    width: 80%;
    margin-left: -88px;
    position: absolute;
    margin-top: 60px;
    transition: 1s ease;
    
}

.left img:hover{
    width: 100%;
    cursor: pointer;
    transition: 1s ease; 
}



.right {
    content: "";
    height: 295px;
    width: 450px;
    z-index: 3;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
    
}

.special1 .right{
    background: #2a2f40;
}

.special2 .right{
    background: #5a1818;
}

.special3 .right{
    background: #2a402f;
}

.texture{
    position: absolute;
    height: 295px;
    width: 100%;
    background: #2a2f40;
    z-index: -1;
    opacity: 0.3;
    overflow: hidden;
}

.right .texture img{
    width: 100%;
    height: 100%;
}
