<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles/my-orders.css" />
    <link rel="stylesheet" href="../../static/styles/all.min.css" />
    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="pa-or">
        <h1>My orders</h1>
        <div class="dilverd">
          <div class="image">
            <img src="../../static/images/product.jpg" alt="" />
          </div>
          <div class="text">
            <h3>Bag</h3>
            <p>Dilvered</p>
            <p>17 May 2023 16:07</p>
            <p>Order ID:1127587932</p>
          </div>
          <i class="fa-solid fa-chevron-right"></i>
          </div>
          <div class="dilverd">
            <div class="image">
              <img src="../../static/images/product.jpg" alt="" />
            </div>
            <div class="text">
              <h3>Bag</h3>
              <p>Preparing</p>
              <p>17 May 2023 16:07</p>
              <p>Order ID:1127587932</p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
        </div>
      </div>
  </body>
</html>
