{% extends 'main.html' %}

{% block content %}

<link rel="stylesheet" href="../../static/styles/profile.css">

<div class="profile">
    <div class="contain">
  <div class="text-1">
        <form action="">
      <h1>حسابك</h1>
      <p>قم بأدارة تفاصيلك, وعرض حالتك,وتغيير كلمة المرور الخاصة بك</p>
    </div>
    <h2>معلومة عامة</h2>
    <div class="input-1">
      <div>         
        <div><label for="name">الاسم الاول</label></div>
        <input type="text" id="name" value="{{user.first_name}}"/>
        </div>
        <div>          
          <div><label for="last-name">اسم العائلة</label></div>
          <input type="text" id="last-name" value="{{user.last_name}}" />
        </div>
        <div class="but-1">            
          <input type="submit" value="تحديث البيانات" class="but">
        </div>    
        <div> 
    </div>
  </div>
  <h2>الحماية</h2>
  <div class="input-2">
    <div>
    <div><label for="البريد">البريد الالكتروني</label></div>
    <input type="email" required value="{{user.email}}" readonly>
  </div>
  <div>
    <div><label for="كلمة السر">كلمة السر</label></div>
  <input type="password" required value="{{user.password}}" readonly>
  </div>
  <div>
    <div><label for="phone">رقم الهاتف</label></div>
    <input type="text" required value="555557878" readonly>
  </div>
    <div class="sup">
        <input type="submit" value="تغيير كلمة المرور">
        <input type="submit" value="اضف معلومات الهاتف">
        <a href="#">امسح الحساب</a>
    </form>
    </div>
  </div>
</div>

{% endblock %}