<link rel="stylesheet" href="../../static/styles/all.min.css" />
<link rel="stylesheet" href="../../static/styles/footer.css" />

<footer>
  <div class="foot_container">
    <div class="foot_content">
      ⁡⁢⁣⁡
      <div class="col">
        <p>contact us</p>
        <p>
          hi, we are always open for cooperation and suggestions, <br />
          contact us in one of the ways below:
        </p>
        <div class="flex">
          <div class="col-info">
            <p>
              PHONE NUMBER <br />
              <span>+1 (800) 060-07-30</span>
            </p>
            <p>
              OUR LOCATION <br />
              <span
                >715 Fake Street, New York<br />
                10021 USA</span
              >
            </p>
          </div>
          <div class="col-info">
            <p>
              EMAIL ADDRESS <br />
              <span>us@example.com</span>
            </p>

            <p>
              WORKING HOURS <br />
              <span>Mon-sat 10:00pm - 7:00pm</span>
            </p>
          </div>
        </div>
      </div>
      ⁡⁢⁣⁡⁢⁣⁣ ⁡
      <div class="col">
        <div class="column">
          <p>information</p>
          <p>about us</p>
          <p>delivery information</p>
          <p>privacy policy</p>
          <p>brands</p>
          <p>contact us</p>
          <p>returns</p>
          <p>site map</p>
        </div>
      </div>
      <div class="col">
        <div class="column">
          <p>my account</p>
          <p>store location</p>
          <p>order history</p>
          <p>wish list</p>
          <p>newsletter</p>
          <p>special offers</p>
          <p>gift certificates</p>
          <p>affiliate</p>
        </div>
      </div>
      ⁡⁢⁣⁣ ⁡
      <div class="col">
        <p>newsletter</p>
        <p>
          enter your email address below to subscribe to our newsletter<br />
          and keep up to date with discounts and special offers.
        </p>
        <div class="email">
          <input type="email" placeholder="user@example.com" />
          <button>Subscribe</button>
        </div>
        <p>follow us on social networks:</p>
        <div class="social">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
      ⁡⁢⁡⁢⁣⁣
    </div>
  </div>
  <div class="content-foot">
    <div class="container-foot">
      <div class="foot-text">
        <p>powered by <span>tech</span> - designed by <span>hema</span></p>
        <div class="pay">
          sa
        </div>
      </div>
    </div>
  </div>
</footer>
