<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=".././static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/all.min.css" />
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="row">
        <div class="column">
          <h4>ال-جودا</h4>

          <p>نحن دائماً جاهزون لمساعدتك تواصل معنا من خلال أي من قنوات الدعم</p>
        </div>
        <div class="column">
          <ul>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i>منتجاتنا</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-angle-right"></i> العروض</a>
            </li>
          </ul>
        </div>

        <div class="column">
          <h4>الازياء</h4>
          <ul>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i>رجالي</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-angle-right"></i>نسائي</a>
            </li>

            <li>
              <a href="#"><i class="fa fa-angle-right"></i>اطفال</a>
            </li>
          </ul>
        </div>

        <div class="column">
          <h4>Connect with Us</h4>

          <ul class="social-icons">
            <li>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </li>

            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>

            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
          </ul>
        </div>
      </div>
      ⁡⁢⁡⁢⁣⁣
    </div>
  </div>
  <div class="content-foot">
    <div class="container-foot">
      <div class="foot-text">
        <p>powered by <span>tech</span> - designed by <span>hema</span></p>
        <div class="pay">
          
        </div>
      </div>
    </div>
  </div>
</footer>
