* {
  font-size: 62, 5%;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}

main {
  width: 40rem;
  height: 27rem;
  margin: 30px auto;
  background-color: #ffffff;
  box-shadow: 0px 0 11px 0 #158cfd;
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  gap: 2rem;
  border-radius: 0.5rem;
}

.headset {
  height: 11rem;
}

#cart-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.free-shipping {
  color: #fff;
  font-size: 0.65rem;
  background-color: #191649;
  border: 0;
  border-radius: 0.9rem;
  padding: 0.3rem 0.4rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  cursor: default;
}

h3 {
  font-weight: 300;
  font-size: 0.7rem;
  text-decoration: line-through;
  cursor: default;
}

h1 {
  font-weight: 900;
  cursor: default;
  font-size: 1.5rem;
}

h4 {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
  cursor: default;
}

.add-to-cart {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 800;
  color: #158cfd;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.add-to-cart:hover {
  background-color: #158cfd;
  color: white;
}

.stock {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 14px;
}

h3 i {
  color: #04d58b;
  margin-right: 0.2rem;
}

#buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.add-to-cart-2,
.add-to-wishlist {
  height: 2.7rem;
  width: 11rem;
  background-color: white;
  color: #158cfd;
  font-weight: bold;
  font-size: 16px;
  border: 0.1rem solid #d6d5d9;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
}
.add-to-cart-2:hover,
.add-to-wishlist:hover {
  background-color: #158cfd;
  color: white;
}
.add-to-cart-2 i,
.add-to-wishlist i {
  margin-right: 5px;
}

@media (max-width: 700px) {
  * {
    font-size: 90%;
  }
}

@media (max-width: 630px) {
  * {
    font-size: 80%;
  }
}

@media (max-width: 580px) {
  * {
    font-size: 70%;
  }
}

@media (max-width: 495px) {
  * {
    font-size: 60%;
  }
}

@media (max-width: 420px) {
  * {
    font-size: 50%;
  }
}
