.content{
  flex-direction: row;
}

.slide{
  display: none;
}

.header{
  background:none;
}

.search_form, .icons, .footer{
  display: none;
}

body{
  background: linear-gradient(rgba(24, 24, 24, 0.4), rgba(24, 24, 24, 0.4)),
    url("../images/christiann-koepke-dQyS2pMYtok-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content div {
  margin-left: 20px;
  margin-right: 20px;
}

img {
  width: 600px;
}
.log {
  border-radius: 5px;
  padding: 30px;
  background-image: linear-gradient(-20deg, #2195f3c4 0%, #2c8edfd0 100%);
  color: white;
}
.log form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.log form h1 {
  color: #fdfbfa;
  font-size: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.image img {
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
