* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Outfit", sans-serif;
}

footer {
  background-color: rgb(43, 43, 43);
}
.foot_container {
  display: flex;
  justify-content: center;
}
.foot_container .foot_content {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}
.foot_container .foot_content .col {
  display: flex;
  flex-direction: column;
}
.foot_container .foot_content p:first-child:not(.flex p:first-child) {
  color: white;
  font-size: 22px;
}
.foot_container .foot_content p:not(.col, .column p:first-child) {
  color: rgb(136, 136, 136);
  margin-bottom: 10px;
}
.foot_container .foot_content .col:first-child {
  gap: 25px;
}
.foot_container .foot_content .col:first-child .flex {
  display: flex;
  gap: 50px;
}
.foot_container .foot_content .col:first-child .flex .col-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.foot_container .foot_content .col:first-child .flex .col-info p {
  font-size: 14px;
}
.foot_container .foot_content .col:first-child .flex .col-info span {
  color: white;
  font-size: 17px;
}
.foot_container .foot_content .col .column:first-child {
  margin-right: 50px;
}

.foot_container .foot_content .col .column p:first-child {
  margin-bottom: 25px;
}
.foot_container .foot_content .col .column p:not(p:first-child) {
  margin-bottom: 12px;
}
.foot_container .foot_content .col:last-child {
  gap: 15px;
}
.foot_container .foot_content .col:last-child .email {
  display: flex;
}
.foot_container .foot_content .col:last-child .email input {
  width: 300px;
  height: 40px;
  font-size: 17px;
  color: white;
  background-color: rgb(76, 76, 76);
  padding-left: 10px;
  border: 0;
  outline: 0;
}
.foot_container .foot_content .col:last-child .email button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: rgb(229, 39, 39);
  padding-left: 10px;
  border: 0;
  outline: 0;
  text-align: center;
  margin-left: -30px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.foot_container .foot_content .col:last-child .social {
  display: flex;
  gap: 20px;
}
.foot_container .foot_content .col:last-child .social img {
  width: 40px;
}
.content-foot {
  background-color: rgb(36, 36, 36);
}
.content-foot .foot-text {
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
}
.content-foot .container-foot p {
  color: rgb(136, 136, 136);
}
.content-foot .container-foot p span {
  color: white;
  font-weight: bold;
}
.content-foot .container-foot .pay {
  display: flex;
  gap: 20px;
}
.content-foot .container-foot .pay img {
  width: 70px;
  height: 40px;
  object-fit: contain;
  background-color: white;
  padding: 10px 5px;
}
