.list{
  padding: 20px;
  background-color: rgb(245, 245, 245);
  line-height: 30px;
}

.list a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: rgb(68, 68, 68);
}

.one {
  width: 270px;
  height: 100vh;
}
h2 {
  font-size: 14px !important;
}
label {
  font-size: 14px;
  padding-left: 5px;
}
.price {
  width: 65px;
  height: 31px;
  text-align: center;
  margin-top: 5px;
}
.go {
  width: 38px;
  height: 29px;
  border: 1px solid #158cfd;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}

@media(max-width: 630px){
  .list{
    display: none;
  }
}