@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.product-card {
  width: 220px;
  background: #fafafa;
  border-radius: 20px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 20px;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 10px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.stock_status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.in-stock span {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: green;
}
.out-stock span {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: red;
}

.product-details h4 a:hover {
  color: #ff735c;
}

.product-details h4 {
  color: #999;
  margin: 5px;
  cursor: default;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 5px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #ff735c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #ff735c;
}
