*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.listing
{
  width: 100%;
  padding: 30px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: white;
  
  /*just for pen positioning*/
}

.product-card
{
  width: 240px;
  position: relative;
  margin: auto;
}

.swiper-slide{
  width: fit-content;
}

.product-card a
{
  text-decoration: none;
}

.img-wrapper
{
  display: block;
  width: 100%;
  height: 240px;
  border: 1px solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  text-align: center;
}

.info
{
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  padding: 40px 10px 20px 10px;
  text-align: center;
  
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  backface-visibility: hidden;
  transition-property: color,height;
  transition-duration: 0.3s,0.4s;
  transition-timing-function: ease-out;
  height: 83px;
}

.info:before
{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after
{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product-card:hover .info
{
  height: 40px;
  cursor: pointer;
}

.product-card:hover .info:before
{
  transform: scaleY(0.7);
}

.product-card:hover .info:after
{
  visibility: visible;
  transform: translateY(10px);
}

.title
{
  transition: transform 0.3s ease-out;
}
.title a
{
  color: inherit;
}
.product-card:hover .title
{
  transform: translateY(-18px);
  font-weight: bold;
  color: #000;
}

.product-card .price
{
  background: #e32d2c;
  position: absolute;
  font-size: 1.3em;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.price.sale
{
  background: #00ba2f;
}

.price.old
{
  font-size: 0.95em;
  padding: 4px 6px;
  text-decoration: line-through;
  top: -43px;
}

.actions-wrapper
{
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

.actions-wrapper *
{
  width: 50%;
  padding: 2px 0;
  text-align: center;
  color: #191919;
  font-size: 0.95em;
  font-weight: bold;
}
.actions-wrapper *:before
{
  font-family: "FontAwesome";
  margin-right: 8px;
}
.wishlist
{
  border-right: 1px solid #afafaf;
}
.wishlist:hover
{
  color: #e32d2c;
}
.wishlist:before
{
  content: "\f08a";
}

.cart:hover
{
  color: #0a75b9;
}
.cart:before
{
  content: "\f07a";
}

.product-card:hover .actions-wrapper *
{
  visibility: visible;
}

.note
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 0.9em;
}

.note.on-sale
{
  background: #00ba2f;
  color: #fff;
}

.note.no-stock
{
  background: #b10000;
  color: #fff;
}

img{
  max-width: 100%;
}


