body {
  font-family: "Cairo", sans-serif;
}
.card {
  box-shadow: 0 0 10px #ff735c;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
}
.card h3 {
  transition: 0.3s;
  cursor: pointer;
}
.card h3:hover {
  color: #ff735c;
}
.price {
  color: #ff735c;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  transition: 0.3s;
}

.card button:hover {
  background-color: #ff735c;
}
