.profile{
  padding: 30px;
  background-color: white;
}

.profile-info>div{
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.profile-info-item>p{
  color: #1787e0;
  font-weight: bold;
}