*{
    padding: 0;
    margin: 0;
}

.products_container{
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 100%;
    color: rgb(0, 0, 0);
}

.products_swiper{
    width: 70%;
    position: relative;
    overflow: hidden;
}

.products_swiper > img{
    position: absolute;
    width: 100%;
    z-index: -1;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.products_swiper h1{
    display: block;
    text-align: center;
}

.category_img{
    width: 30%;
    overflow: hidden;
}

.category_img img{
    max-width: 100%;
}

.products_swiper .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: auto;
}
 
.products_swiper .product img{
    width: 90px;
}

.products_swiper .swiper{
    position: relative;
    height: fit-content;
}

.products_swiper .swiper-wrapper{
    position: relative;
    padding: 80px 0;
}

.options{
    display: flex;
    justify-content: center;
    padding: 20px
}

.products_swiper h3{
    font-size: smaller;
}

.products_swiper .options a{

    color: rgb(17, 17, 17);
    width: fit-content;
    height: auto;
    margin: 0;
    text-decoration: none;
    font-size: x-large;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;

}

@media(max-width: 900px){

    .products_container{
        flex-direction: column;
    }

    .category_img{
        display: none;
    }

    .products_swiper, .category_img{
        width: 100%;
    }

}