*{
    padding: 0;
    margin: 0;
}

.products_container{
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 100%;
    background-color: white;
}

.products_swiper{
    width: 70%;
    position: relative;
}

.products_swiper h1{
    display: block;
    text-align: center;
}

.category_img{
    width: 30%;
    overflow: hidden;
}

.category_img img{
    max-width: 100%;
}

.products_swiper .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
 
.products_swiper .product img{
    width: 90px;
}

.products_swiper .swiper{
    position: relative;
    height: fit-content;
}

.products_swiper .swiper-wrapper{
    padding: 80px;
    position: relative;
}

.options{
    display: flex;
    justify-content: center;
    padding: 20px
}

.products_swiper h3{
    font-size: smaller;
}

.products_swiper .options a{

    width: fit-content;
    height: auto;
    margin: 0;
    text-decoration: none;
    color: #1f1f1f;
    font-size: x-large;
    border: 1px solid #1f1f1f;
    border-radius: 30px;
    padding: 10px;

}